
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">library_books</i><span class="add-announce-title">Ajouter une Annonce</span>
          </div>
        </div>
        <div class="card-body ">
          <form (ngSubmit)="updateAnnounce();">

            <div class="container">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating"> Titre de l'annonce : </label>
                    <input type="text"
                           class="form-control" id="announce-title"
                           name="title" placeholder="titre" [(ngModel)]="announce.title"
                    ngModel
                    >
                    <span class="text-danger" id="announce-title-error"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="type" class="bmd-label-floating">Type : </label>
                    <div class="control-group" id="type">
                      <label class="control control--radio">Maison
                        <input type="radio" name="radio" value="maison" id="maison"  [(ngModel)]="announce.type"  checked="checked"/>
                        <div class="control__indicator"></div>
                      </label>
                      <label class="control control--radio">Appartement
                        <input type="radio" name="radio" value="appartement" id="appartement" [(ngModel)]="announce.type"/>
                        <div class="control__indicator"></div>
                      </label>
                      <label class="control control--radio">Surface
                        <input type="radio" name="radio" value="surface" id="surface" [(ngModel)]="announce.type"/>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                    <span class="text-danger" id="announce-type-error"></span>
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="description" class="bmd-label-floating">Description : </label>
                    <textarea id="description" cols="30" rows="10" class="form-control" name="description" [(ngModel)]="announce.description" placeholder="Ensoleillé toute la journée ..."></textarea>
                    <span class="text-danger" id="announce-description-error"></span>
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="price" class="bmd-label-floating">Prix : </label>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="announce.price">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="status" class="bmd-label-floating">Status : </label>
                    <input type="number" class="form-control" id="status" name="status" [(ngModel)]="announce.status">
                    <span class="text-danger" id="announce-status-error"></span>
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address" class="bmd-label-floating">Adresse : </label>
                    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="announce.address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city" class="bmd-label-floating">Ville : </label>
                    <select class="form-control" id="city" name="city" [(ngModel)]="announce.city">
                      <option *ngFor="let city of cities">{{city}}</option>
                    </select>
                    <span class="text-danger" id="announce-city-error"></span>
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="mapPosition" class="bmd-label-floating">Localisation : </label>
                    <input type="number" class="form-control" id="mapPosition" name="localisation" [(ngModel)]="announce.positionMap">
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="rent" class="bmd-label-floating">Rent : </label>
                    <input type="number" class="form-control" id="rent" name="rent" [(ngModel)]="announce.rent">
                    <span class="text-danger" id="announce-rent-error"></span>
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <app-announce-images></app-announce-images>
                </div>
              </div>
            </div>


            <div class="d-flex flex-row justify-content-center">
              <button class="btn btn-fill btn-rose" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Valider</button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>



