<div  class="header">
  <nav  id="nav" class="navbar navbar-expand-sm navbar-dark w-100 position-fixed visible-nav">
    <a class="navbar-brand" href="#"><img src="../../assets/pictures/header/logo.png" class="opacity-hover" alt=""></a>
    <button (click)="toggle()" class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partenaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item opacity-2" href="#">Action 1</a>
            <a class="dropdown-item opacity-2" href="#">Action 2</a>
          </div>
        </li>
      </ul>
        <button class="btn btn-outline-success my-2 my-sm-0 mr-1 border-white text-white" data-toggle="modal" data-target="#subscribe">Sign Up</button>
        <button class="btn btn-outline-success my-2 my-sm-0 border-white text-white" data-toggle="modal" data-target="#login">Login</button>
    </div>
  </nav>
  <div id="header-description" class="center-phrase">
    <p>Bienvenue au meilleur site internet de partage d'annonce immobilière</p>
    <span class="get-started">Commencer votre visite</span>
  </div>
</div>
<!-------------------------------------------------LOGIN MODAL CONTENT ------------------------------------------------>
<!-- The Modal -->
<div class="modal fade" id="login">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Connexion</h5>
        <span class="alert alert-danger d-flex justify-content-center" *ngIf="error">{{error}}</span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="name" class="connexion-labels">Email or username : </label>
          <input type="text" class="form-control input-group-sm" id="name" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="password" class="connexion-labels">Password :</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password">
        </div>
      </div>
      <div class="forgot-password d-flex justify-content-center">
        <a href=""> Mot de Passe Oublié ?</a>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" (click)="login()" class="btn btn-outline-primary" value="Connexion">
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------SUBSCRIBE MODAL CONTENT -------------------------------------------->
<!-- The Modal -->
<div class="modal fade" id="subscribe">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" id="header-inscription">
        <h5 class="modal-title">Inscription</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header d-none" id="header-confirmation">
        <h5 class="modal-title">Inscription: Confirmation d'email</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" id="body-inscription">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="user-name" class="connexion-labels">Username : </label>
                <input type="text" class="form-control" id="user-name" [(ngModel)]="username">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="email" class="connexion-labels">Email : </label>
                <input type="text" class="form-control" id="email" [(ngModel)]="email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="subscribe-password" class="connexion-labels">Mot de passe : </label>
                <input type="password" class="form-control" id="subscribe-password" [(ngModel)]="password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="passwordConfirmation" class="connexion-labels">Confirmer le mot de passe : </label>
                <input type="password" class="form-control" id="passwordConfirmation" [(ngModel)]="confirmedPassword">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-group" (click)="toggleClick()">
                <label for="email" class="connexion-labels"> Vous cherchez être un annonceur ou un agent ?  </label>
                <!-- Default checked -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="announcer" name="job" checked>
                  <label class="custom-control-label" for="announcer"> Annonceur : <span  id="announcer-desc"> Publiez vos annonces gratuitement sur notre siteWeb </span></label>
                </div>
                <!-- Default unchecked -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="agent" name="job">
                  <label class="custom-control-label" for="agent">Agent : <span class="text-muted" id="agent-desc">Si vous cherchez à travailler chez APP360 pour créer des annonces pour nos visiteurs </span> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body d-none" id="body-confirmation">
        <div class="container">
          <div class="row">
              <div class="form-group">
                <label class="col-lg-6 col-md-6" for="code" class="connexion-labels"> Entrez le code de vérification envoyé à votre email : </label>
                <input class="col-lg-6 col-md-6" type="text" class="form-control" id="code" [(ngModel)]="code">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" id="footer-inscription">
        <input type="submit" (click)="subscribe()" class="btn btn-outline-primary" value="Inscrivez-vous">
      </div>
      <div class="modal-footer d-none" id="footer-confirmation">
        <input type="submit" (click)="subscribe()" class="btn btn-outline-primary" value="Confirmez">
      </div>
    </div>
  </div>
</div>

