<div  class="header">
  <nav  id="nav" class="navbar navbar-expand-sm navbar-dark w-100 position-fixed visible-nav">
    <a class="navbar-brand" href="#"><img src="../../assets/pictures/header/logo.png" class="opacity-hover" alt=""></a>
    <button (click)="toggle()" class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partenaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item opacity-2" href="#">Action 1</a>
            <a class="dropdown-item opacity-2" href="#">Action 2</a>
          </div>
        </li>
      </ul>
        <button class="btn btn-outline-success my-2 my-sm-0 mr-1 border-white text-white" data-toggle="modal" data-target="#subscribe">Sign Up</button>
        <button class="btn btn-outline-success my-2 my-sm-0 border-white text-white" data-toggle="modal" data-target="#login">Login</button>
    </div>
  </nav>
  <div id="header-description" class="center-phrase">
    <p>Bienvenue au meilleur site internet de partage d'annonce immobilière</p>
    <span class="get-started">Commencer votre visite</span>
  </div>
</div>
<!-------------------------------------------------LOGIN MODAL CONTENT ------------------------------------------------>
<!-- The Modal -->
<div class="modal fade" id="login">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Connexion</h5>
        <span class="alert alert-danger d-flex justify-content-center" *ngIf="error">{{error}}</span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="name" class="connexion-labels">Email or user name : </label>
          <input type="text" class="form-control input-group-sm" id="name" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="password" class="connexion-labels">Password :</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password">
        </div>
      </div>
      <div class="forgot-password">
        <span> Mot de Passe Oublié ?</span>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" (click)="login()" class="btn connexion-button" value="Connexion">
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------SUBSCRIBE MODAL CONTENT -------------------------------------------->
<!-- The Modal -->
<div class="modal fade" id="subscribe">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">S'inscrire</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="user-name" class="connexion-labels">Username : </label>
                <input type="text" class="form-control" id="user-name" [(ngModel)]="username">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="email" class="connexion-labels">Email : </label>
                <input type="text" class="form-control" id="email" [(ngModel)]="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="last-name" class="connexion-labels">Nom : </label>
                <input type="text" class="form-control" id="last-name" [(ngModel)]="lastName">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="first-name" class="connexion-labels">Prenom :</label>
                <input type="text" class="form-control" id="first-name" [(ngModel)]="firstName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="birthDate" class="connexion-labels">Date de naissance :</label>
                <input type="date" class="form-control" id="birthDate" [(ngModel)]="birthday">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="phone-number" class="connexion-labels">Téléphone :</label>
                <input type="text" class="form-control" id="phone-number" [(ngModel)]="phone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="address" class="connexion-labels">Adresse :</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="address">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="city" class="connexion-labels">Ville :</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="city">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="password" class="connexion-labels">Mot de passe : </label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="passwordConfirmation" class="connexion-labels">Confirmer le mot de passe : </label>
                <input type="password" class="form-control" id="passwordConfirmation" [(ngModel)]="confirmedPassword">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="image" class="connexion-labels">Chosir image : </label>
                <input type="file" class="form-control" id="image" [(ngModel)]="photo">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" (click)="subscribe()" class="btn connexion-button" value="S'inscrire">
      </div>
    </div>
  </div>
</div>

