
.center-phrase{
  display: block;
  margin: auto;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5%;
  z-index: 200;
  border-radius: 60px;
}

.center-phrase p {
  font-weight: bold;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 5%;
}

.get-started{
  border: 2px solid white;
  padding: 20px 5%;
  width: 60%;
  height: 40px;
  /*font-family: "Bahnschrift", serif;*/
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.get-started:hover{
  background-color: rgba(38, 50, 92, 0.8);
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1400px) {
  header {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px){
  .home-desc {
    display: none;
  }
  .center-phrase {
    height: 200px;
  }
  .get-started{
    font-size: 15px;
  }
  .center-phrase p {
    font-size: 20px;
    margin-bottom: 10%;
  }
  .btns-center{
    text-align: center;
  }
  header {
    margin-bottom: 100px;
  }
  .visible-nav {
    background-color: #484848;
  }
  .header {
    height: 0;
  }
}

