.header {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/pictures/header/header.jpeg');
  background-size: 100% 100%;
  position: relative;
}

.visible-nav {
  z-index: 100;
  font-size: 25px;
}

.center-phrase{
  display: block;
  margin: auto;
  width: 80%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 3% 20px 5%;
  z-index: 200;
  border-radius: 50px;
}

.center-phrase p {
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Agency FB", serif;
  font-size: 40px;
  margin-bottom: 5%;
}

.get-started{
  border: 2px solid white;
  padding: 20px 5%;
  width: 60%;
  height: 40px;
  /*font-family: "Bahnschrift", serif;*/
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.get-started:hover{
  background-color: rgba(38, 50, 92, 0.8);
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1400px) {
  .visible-nav {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {

  .home-desc {
      display: none;
  }

  .visible-nav {
    background-color: #484848;
  }

  .header {
    height: 0;
  }

  #header-description {
    display: none;
  }

  .center-phrase {
    height: 200px;
  }

  .get-started{
    font-size: 15px;
  }

  .center-phrase p {
    font-size: 20px;
    margin-bottom: 10%;
  }
}
