@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
.wrapper-box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 5%;
    overflow-x: hidden !important;
}

.akinator-footer {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.akinator-footer>.aki-grp {
    padding: 50px 50px 10px 50px;
    display: flex;
    background-color: #313036;
    color: #b8b7bd;
}

.aki-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.aki-content>img {
    margin-bottom: 30px;
    width: 40%;
    align-self: flex-start;
    background-color: #b8b7bd;
}

.aki-content>p {
    width: 80%;
    align-self: flex-start;
    font-size: 12px;
}

.aki-col-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.aki-link-list {
    display: flex;
    flex-direction: column;
}

.aki-link-list :hover {
    background-color: #767676;
}

.sm-link {
    color: #b8b7bd;
    text-decoration: none;
    display: flex;
    justify-content: left;
    font-size: 12px;
}

.sm-link>span {
    display: flex;
    justify-content: left;
    margin-left: 40px;
    margin-right: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.dashed {
    border-bottom: 1px dashed white;
}

.aki-adress {
    width: 80%;
    font-size: 12px;
    padding: 0px 30px;
}

.contact-aki {
    cursor: pointer;
    background-color: #b8b7bd;
    color: #313036;
    align-self: center;
    padding: 20px 30px;
    font-weight: bold;
    margin: 20px 0;
}

.contact-aki:hover {
    background-color: #ffffff;
}

.mediaLinks>a {
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;
}

.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 50px;
}

.fa {
    font-size: 15px;
    padding-top: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}

.mediaLinks {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.copyright {
    background-color: #242424;
    color: #b8b7bd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}