<app-menu *ngIf="!auth.isAuthenticated()"></app-menu>
<div id="canvasDIV" style="border: 2px black"></div>
<button class="ml-2" (click)="fullScreen()">Toggle View</button>
<div id="details" class="position-relative">
  <div class="container bg-white p-5" style="margin-top: -10%; position: absolute; width: 90%; left: 7%; border-radius: 30px; margin-bottom: 50px">
    <h1 class="text-primary text-center title">{{announce.title}}</h1>
    <hr>
    <div class="list-group">
      <h4 class="list-group-item"><span class="text-primary">Titre d'annonce : </span>{{announce.title}}</h4>
      <h4 class="list-group-item"><span class="text-primary">Type d'annonce : </span>{{announce.type}}</h4>
      <h4 class="list-group-item"><span class="text-primary">Description : </span> {{announce.description}}</h4>
      <h4 class="list-group-item"><span class="text-primary">Prix : </span>{{announce.price}}</h4>
      <h4 class="list-group-item"><span class="text-primary">Adresse : </span>{{announce.address}}</h4>
      <h4 class="list-group-item"><span class="text-primary">Ville : </span>{{announce.city}}</h4>
<!--      <h4 class="list-group-item">Position Map : {{announce.position_map}}</h4>-->
      <h4 class="list-group-item"><span class="text-primary">Status : </span> {{announce.status}}</h4>
      <h4 class="list-group-item"><span class="text-primary">Pieces : </span>{{announce.pieces}}</h4>
      <div class="d-flex justify-content-center">
        <a *ngFor="let a of announce.images" href="{{path}}{{announce.id + '/'}}{{a.name}}">
          <img src="{{path}}{{announce.id + '/'}}{{a.name}}" alt="..." class="img-thumbnail">
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary">Go Back</button>
    </div>
  </div>
  <br><hr>
</div>







