<!-- DEFAULT HEADER -->
<app-header></app-header>
<!-- BLOCK CONTAINER-->

<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Regular link</a>
  <a class="dropdown-item active" href="#">Active link</a>
  <a class="dropdown-item" href="#">Another link</a>
</div>
<div class="container">
  <!-- Content here -->
  <h2>Annonces premieum</h2>
  <p></p>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top img-dim" src="../../assets/pictures/home/pic1.jfif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Annonce title</h5>
      <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse, </p>
      <p class="card-text"><small class="text-muted">date :03/07/2019</small></p>
      <a href="#" class="btn btn-primary stretched-link">See More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-dim" src="../../assets/pictures/home/pic2.jfif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Annonce title</h5>
      <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse,  </p>
      <p class="card-text"><small class="text-muted">date :15/04/2020</small></p>
      <a href="#" class="btn btn-primary stretched-link">See More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-dim" src="../../assets/pictures/home/pic4.jfif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Annonce title</h5>
      <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse, </p>
      <p class="card-text"><small class="text-muted">date : 12/02/2020</small></p>
      <a href="#" class="btn btn-primary stretched-link">See More</a>
    </div>
  </div>
</div>

  <div></div>




</div>


<router-outlet></router-outlet>
<!-- DEFAULT FOOTER-->
<app-footer></app-footer>
