<div class="card card-product">
  <div class="card-header card-header-image" data-header-animation="true">
    <a href="#pablo">
      <img class="img" src="assets/dashboard/img/card-2.jpg">
    </a>
  </div>
  <div class="card-body">
    <div class="card-actions text-center">
      <button type="button" class="btn btn-danger btn-link fix-broken-card">
        <i class="material-icons">build</i> Fix Header!
      </button>
      <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
        <i class="material-icons">art_track</i>
      </button>
    </div>
    <h4 class="card-title">
      <a href="#pablo">{{title}}</a>
    </h4>
    <div class="card-description">
      {{description}}
    </div>
  </div>
  <div class="card-footer">
    <div class="price">
      <h4>{{price}}</h4>
    </div>
    <div class="stats">
      <p class="card-category"><i class="material-icons">place</i>{{city}}</p>
    </div>
  </div>
</div>
