.card {
  margin-bottom: 1rem; }

.card-heading {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  color: white;
  padding: .75rem 1rem; }

.announce-price{
  font-size: 18px;
  font-weight: bold;
  color: #d21339;
}

.card-category{
  font-size: 17px;
  font-weight: bold;
}

.card-category:hover{
  color: #d21339;
}

.announce-date{
  text-align: center;
}
