@import "assets/dashboard/css/material-dashboard.minf066.css";
/* You can add global styles to this file, and also import other style files */

.off-canvas-sidebar .navbar-collapse:after {
  background-color: white;

}

/* OPACITY -----------------------------------------------------------------------------------------------------------*/
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0.2;
}

.opacity-2 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.6;
}

.opacity-4 {
  opacity: 0.8;
}

.opacity-5 {
  opacity: 1;
}

.opacity-hover:hover {
  opacity: 0.5;
}
/* CONNECTION AND SUBSCRIBE BUTTONS AND LABELS -------------------------------------------------------------------------------------------------*/
.connexion-button{
  width: 80%;
  background-color: crimson;
  color: white;
  margin: auto;
  border-radius: 30px;
  opacity: 0.9;
}

.connexion-button:hover{
  color: white;
  opacity: 1;
}

.connexion-labels{
  font-size: 20px;
  font-weight: 400;
  color: grey;
}


.forgot-password, .error{
  text-align: center;
}

.error > *{
  display: inline-block;
  width: auto;
  font-size: 18px;
  color: red;
}

.forgot-password > *{
  display: inline-block;
  width: auto;
  font-size: 16px;
  color: grey;
}

.forgot-password > *:hover{
  color: crimson;
  cursor: pointer;
}


