/* You can add global styles to this file, and also import other style files */

/* OPACITY -----------------------------------------------------------------------------------------------------------*/
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0.2;
}

.opacity-2 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.6;
}

.opacity-4 {
  opacity: 0.8;
}

.opacity-5 {
  opacity: 1;
}

.opacity-hover:hover {
  opacity: 0.5;
}
/* CONNECTION AND SUBSCRIBE BUTTONS AND LABELS -------------------------------------------------------------------------------------------------*/
.connexion-button{
  width: 80%;
  background-color: crimson;
  color: white;
  margin: auto;
  border-radius: 30px;
  opacity: 0.9;
}

.connexion-button:hover{
  color: white;
  opacity: 1;
}

.connexion-labels{
  font-size: 20px;
  font-weight: 400;
  color: grey;
}

