<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
<!-- HOME HEADER -->
<app-header></app-header>
<!--CONTENT-->
<div id="home" class="mt-4 mb-5">
  <div class=" div_search container marg-bottom">
    <div class="search form-inline">
      <div class="col-xl-4">
        <div>
          <select name="typeImmo" class="form-control select-search " id="immo-select"
                  (change)="selectChangeHandler('status',$event)">
            <option value="location">location</option>
            <option value="vente">vente</option>
          </select>
        </div>
        <div>
          <select name="typeImmo" class="form-control select-search" id="select">
            <option value="Maison">Maison</option>
            <option value="Appartement">Appartement</option>
            <option value="Terrain">Terrain</option>
            <option value="Café">Café</option>
            <option value="Garage">Garage</option>
            <option value="Usine">Usine</option>
            <option value="Immeuble">Immeuble</option>
            <option value="Maison de village">Maison de village</option>
          </select>
        </div>
        <div>
          <select name="Location" class="form-control select-search" id="location">
            <option value="">localisation</option>
            <option *ngFor="let city of cities" [value]="city">
              {{city}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-xl-4">
        <div>
          <input type="text" class="form-control" id="surface" placeholder="Surface min(m²)" name="Surface">
        </div>
        <div>
          <input type="text" class="form-control" id="budger" placeholder="budger maxi" name="budger">
        </div>
        <div>
          <input type="text" class="form-control" id="piece" placeholder="nb.piéce min" name="piece">
        </div>
      </div>
      <div class="col-xl-4">

        <div>
          <a href="#" class="btn btn-primary stretched-link btn-search">Search</a>
        </div>

      </div>


    </div>
  </div>

  <div class="ml-4 mr-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active mr-3" *ngFor="let a of premiumAnnonces | slice:0:1;">
          <div class="row">
            <div class="col-xl-6" *ngFor="let i of a">
              <div class="card bg-dark text-white text-center">
                <img src="../../assets/pictures/home/pic1.jfif" class="card-img" alt="...">
                <div class="card-img-overlay align-bottom">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.description}}</p>
                  <p class="card-text">date : {{i.created_at.split(' ')[0]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mr-3" *ngFor="let a of premiumAnnonces | slice:1;">
          <div class="row">
            <div class="col-xl-6" *ngFor="let i of a">
              <div class="card bg-dark text-white text-center">
                <img src="../../assets/pictures/home/pic1.jfif" class="card-img" alt="...">
                <div class="card-img-overlay align-bottom">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.description}}</p>
                  <p class="card-text">date : {{i.created_at.split(' ')[0]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



  <ul class="pagination centrer">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item "><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>
<hr>
<hr>
<div class="centrer">

  <span>Partenaires</span>
</div>
<hr>
<div class="container-fluid">
  <div class="row marg">
    <div class="col">
      <img src="../../assets/pictures/home/partenaire/addoha.jpg" class="img-partenaire" alt="">
    </div>
    <div class="col">
      <img src="../../assets/pictures/home/partenaire/alomran.png" class="img-partenaire" alt="">
    </div>
    <div class="col">
      <img src="../../assets/pictures/home/partenaire/addoha.jpg" class="img-partenaire" alt="">
    </div>
    <div class="col">
      <img src="../../assets/pictures/home/partenaire/alomran.png" class="img-partenaire" alt="">
    </div>
    <div class="col">
      <img src="../../assets/pictures/home/partenaire/alomran.png" class="img-partenaire" alt="">
    </div>

  </div>
</div>
<!-- HOME FOOTER-->
<app-footer></app-footer>
