#home{

}
/* search */
.search{
  height: 300px;
  width: 100%;
  background:rgba(255, 255, 255, 0.8);
}
.phone-seaech {
  display: none;
}
@media screen and (max-width: 700px) {
  .phone-seaech {
    display: flex;
  }
}
.btn-search{
  width: 170px;
}
.select-search{

  width: 300px;
}
.search > div >div{
  margin-bottom: 20px;
}
/* end search */
/* prem img */
.card-img{
  height: 400px;
  margin-right: 10px;

}

/* end prem img */
.img-dim{
  /* width: 400px;*/
  height: 200px;
}
/*partenairs*/
.centre{
  margin-left: auto;
  margin-right: auto;
  width: 16em;

}
.img-partenaire{
  height: 150px;
  width: 150px;
}

.img-partenariat{
  height: 50px;
  width: 55px;
}

.right_marg {
  margin-right: 10px;
}
.marg{
  margin: 30px;
}
.marg-bottom{
  margin-bottom: 20px;
}

. sesearch{
  color: chocolate;
  height: 200px;
}
.centrer{
  height: 40px;
  width: 100%;
  font-size: larger;
  justify-content: center;
  align-items: center;
  display: flex;

}
/*end partenaires*/
.logo-w3ls h1 a {
  font-size: 1em;
  text-decoration: none;
  color: #ef434a;
  line-height: 45px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
  display: block;
  margin-top: 2em;
}
.bnr-sub-text p {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 0px;
  letter-spacing: 11px;
  color: black;
}

.div_search {
  width: 100%;
  padding-top: 10px;
  height: 250px;

  background-color: #b8b7bd;
}
