<div id="home" class="mt-4 mb-5">
  <div class="container">
    <div class="search form-inline">
        <div class="col-xl-4">
          <div>
              <select name="typeImmo"  class="form-control"id="immo-select">
                  <option value="">--type--</option>
                  <option value="Maison">Maison</option>
                  <option value="Appartement">Appartement</option>
                  <option value="Terrain">Terrain</option>
                  <option  value="Café">Café</option>
                  <option  value="Garage">Garage</option>
                  <option  value="Usine">Usine</option>
                  <option value="Immeuble">Immeuble</option>
                  <option value="Maison de village">Maison de village</option>
              </select>
          </div>
          <div>
            <select name="Location"   class="form-control"id="location" >
              <option value="">--Location--</option>
              <option *ngFor="let city of cities" [value]="city">
                {{city}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-xl-4">
          <div>
             <input type="text" class="form-control" id="surface" placeholder="Surface min(m²)" name="Surface">
          </div>
          <div>
              <input type="text" class="form-control" id="budger" placeholder="budger maxi" name="budger">
          </div>
        </div>
        <div class="col-xl-4">
          <div>
            <input type="text" class="form-control" id="piece" placeholder="nb.piéce min" name="piece">
          </div>
          <div>
             <button type="submit" class="btn btn-danger">Search</button>
          </div>
        </div>



    </div>
  </div>
  <div class="ml-4 mr-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-xl-6">
              <div class="card bg-dark text-white text-center">
                <img src="assets/pictures/header/header.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay align-bottom">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card bg-dark text-white">
                <img src="assets/pictures/header/header.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xl-6">
              <div class="card bg-dark text-white">
                <img src="assets/pictures/header/header.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card bg-dark text-white">
                <img src="assets/pictures/header/header.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xl-6">
              <div class="card bg-dark text-white">
                <img src="assets/pictures/header/header.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card bg-dark text-white">
                <img src="assets/pictures/header/header.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div id="gridCards" class="mt-5 mb-5 ml-4 mr-4" >
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4 ">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic1.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse, </p>
            <p class="card-text"><small class="text-muted">date :03/07/2019</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>

      <div class="col mb-4 h-200">

        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic2.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse,  </p>
            <p class="card-text"><small class="text-muted">date :15/04/2020</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>


      <div class="col mb-4 h-200">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic1.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse, </p>
            <p class="card-text"><small class="text-muted">date :03/07/2019</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4 h-200">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic4.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse, </p>
            <p class="card-text"><small class="text-muted">date : 12/02/2020</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4 h-200">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic2.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse,  </p>
            <p class="card-text"><small class="text-muted">date :15/04/2020</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4 h-200">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic2.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse,  </p>
            <p class="card-text"><small class="text-muted">date :15/04/2020</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4 h-200">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic2.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse,  </p>
            <p class="card-text"><small class="text-muted">date :15/04/2020</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>
      <div class="col mb-4 h-200">
        <div class="card">
          <img class="card-img-top img-dim" src="../../assets/pictures/home/pic2.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce title</h5>
            <p class="card-text">Située à VILLENEUVE DE MARSAN, au calme, tout en étant proche des commodités, superbe maison landaise de 133 m² habitables en bord de forêt. Elle est composée, au rez-de-chaussée, d'une entrée lumineuse,  </p>
            <p class="card-text"><small class="text-muted">date :15/04/2020</small></p>
            <a href="#" class="btn btn-primary stretched-link">See More</a>
          </div>
        </div>
      </div>
    </div>

  </div>


    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>


